.navbar{
  height: 75px;
}
.navbar-toggler{
  background-color: aliceblue;
}
.nav-link{
  margin-left: 40px;
  font-size: 17px;
}
.login-button{
  background-color: #3498db;
  color: white; 
  font-size: 12px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease; 
}
.login-button:hover{
  background-color: #2980b9;
  transform: translateY(-2px); 
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}
.login-button:focus{
   outline: none;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.6);
  
}
.logo{
  display: flex;
  align-items: center;
}
.logo-text{
 font-family: Georgia, 'Times New Roman', Times, serif;
}